
.coverImg {
    width: 100%;
}
.coverImg img {
    max-width: 50%;
}

.intro {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.postCard {
    margin-top: 20px;
    margin-bottom: 40px;
}

.cardBody {
    width: 500px;
    padding: 0 0 15px 0;
}

.subHeader {
    margin: 10px auto 30px;
}
.posts {
}

.post {
    display: flex;
    align-items: center;
    margin: 20px auto 30px;
}

.post p {
    margin: 0;
}

.post span {
    margin: 10px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    margin-right: 30px;
}

.postFooter {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.postTime {
    margin: 0;
}
